body {
    font-family: Arial, sans-serif;
    background-image: url(https://ideogram.ai/api/images/direct/PJpcibj8RROD4f3CWv8glA.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(29, 25, 25);
    padding: 20px;
    border-radius: 80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    color:green;
}

.converter {
    margin: 20px 0;
    text-align: center;
}

input{
    width: calc(97% - 25px);
    background-color: rgb(35, 144, 239);
    padding: 10px;
    margin: 10px 0;
    border: 5px solid #e1e4eb;
    border-radius: 20px;

}
select {
    width: calc(100% - 25px);
    background-color: #bcc6d0;
    padding: 10px;
    margin: 10px 0;
    border: 5px solid #80889f;
    border-radius: 20px;
}

button {
    padding: 19px 20px;
    border: none;
    border-radius: 95px;
    background-color: #bcc6d0;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #126bca;
}

p {
    border: 5px solid #bcc6d0;
    background-color: #126bca;
    border-radius: 10px;
    font-size: 1.3em;
    color: #e1d8d8;
}
